/*
 * var/setting
 */

//contents width
$container: 960px;
$main: 630px;
$side: 300px;

//key color
$main-color: #00baff;
$point-color: #fae600;

//border color
$first-border-color: #ccc;
$second-border-color: #ddd;

//box shadow Setting
$basic-box-shadow: #dadada;
$page-hover-shadow: #a3a3a3;
$item-hover-shadow: #f3f3f3;

//text color Setting
$first-text-color: #222;
$second-text-color: #666;
$third-text-color: #999;

//warning color Setting
$warning-text-color: #ff0036;
$warning-border-color: #ff7f9a;
$warning-bg-color: #ffefef;

// text font sizes
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 12px;

//radius setting
$basic-radius: 4px;